body{
    margin: 0;
    padding: 0;
    background-color: black;

}
h2{
    text-align: center;
    color: aliceblue;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: -20px;

}
.gallery{
    width: 80%;
    margin: 30px auto 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 100;

}
.gallery img{
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    border-radius: 5px;
    width: 270px;
    height: 270px;
    margin: 10px 0;
    transition: transform in ease;

}
.gallery img:hover{
    transform: scale(1.2);
}
.gallery img:hover{
    transform: scale(0.8)rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
}